.input {
  height: 48px;
  border: 1px solid #c9c6c6;
  border-radius: 6px;
}
.input::after {
  content: "";
  display: table;
  clear: both;
}
.input.isSmall {
  height: 24px;
  margin-bottom: 8px;
  border: none;
  border-radius: 0;
}

.input.isLabel input {
  float: left;
}
.input p {
  float: left;
  width: 75px;
  font-size: 14px;
  line-height: 24px;
}
.input p:nth-of-type(2) {
  margin-left: 5px;
}

.input input {
  width: 100%;
  height: 100%;
  padding-left: 23px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.input.isSmall input {
  width: 44px;
  font-size: 12px;
  border: 1px solid #a8a5a5;
  padding-left: 7px;
  color: #848c93;
}

.input.isCount input {
  width: 24px;
  pointer-events: none;
}

.input input:placeholder {
  color: #a5a1a1;
}

.input .plus-minus {
  float: left;
  white-space: nowrap;
}
.input .plus-minus div {
  float: left;
  width: 24px;
  height: 24px;
  margin-left: 4px;
  background: #cddbe5;
  color: #848c93;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.input .plus-minus div.isDisabled {
  opacity: 0.5;
  pointer-events: none;
}
