.select-label {
  float: left;
  margin-right: 20px;
  font-size: 14px;
  line-height: 32px;
  color: #7e7e7e;
}
.select-label + .select-button {
  float: left;
}

.select-value {
  line-height: 30px;
}
.select-value:first-letter {
  text-transform: uppercase;
}

.select-button {
  position: relative;
  width: 112px;
  height: 32px;
  padding: 0 16px;
  background: #fff;
  border: 1px solid #909090;
  border-radius: 3px;
  font-size: 14px;
  initial-letter: uppercase;
  cursor: pointer;
}
.select-button > svg {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 11px;
  height: 11px;
}
.select-button ul {
  position: absolute;
  top: 31px;
  left: -1px;
  width: 112px;
  padding: 6px 0;
  border: 1px solid #909090;
  background: #fff;
  border-radius: 3px;
}
.select-button li {
  position: relative;
  padding: 0 16px;
  line-height: 24px;
}
.select-button li::first-letter {
  text-transform: uppercase;
}
.select-button li svg {
  display: none;
}
.select-button li.select-chosen svg {
  display: block;
  position: absolute;
  top: 5px;
  right: 12px;
  width: 11px;
  height: 11px;
}
